# SECURE CHECK: A Python - SQL Digital  Leader For Police Post Logs

### Problem Statement
Police check posts require a centralized system for logging, tracking, and analyzing vehicle movements. Currently, manual logging and inefficient databases slow down security processes. This project aims to build an SQL-based check post database with a Python-powered dashboard for real-time insights and alerts.

### Business Use Cases
* Real-time logging of vehicles and personnel.
* Automated suspect vehicle identification using SQL queries.
* Check post efficiency monitoring through data analytics.
* Crime pattern analysis with Python scripts.
* Centralized database for multi-location check posts.

### Importing Libraries

In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data collection

In [82]:
#Read the Dataset

Traffic_Stops = pd.read_csv('Traffic_Stops.csv')
Traffic_Stops

C:\Users\DELL\AppData\Local\Temp\ipykernel_19200\2903856102.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  Traffic_Stops = pd.read_csv('Traffic_Stops.csv')

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,NaN,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,NaN,Ticket,True,16-30 Min,False,UP89PT2924

#### Dataset Explanation

* stop_date – The date when the stop happened. 
* stop_time – The time of the stop. 
* country_name – The country where the stop took place. 
* driver_gender – The gender of the driver (Male or Female). 
* driver_age_raw – The recorded age of the driver (before cleaning). 
* driver_age – The actual age of the driver (after cleaning). 
* driver_race – The race/ethnicity of the driver. 
* violation_raw – The original reason for the stop (before cleaning). 
* violation – The type of violation (Speeding, DUI, etc.). 
* search_conducted – Whether the police searched the driver or vehicle
* search_type – The type of search (Frisk, Vehicle Search, etc.). 
* stop_outcome – The result of the stop (Warning, Citation, Arrest). 
* is_arrested – Whether the driver was arrested (True/False). 
* stop_duration – How long the stop lasted (<5 min, 6-15 min, etc.). 
* drugs_related_stop – Whether the stop was drug-related (True/False).

In [83]:
#To display top 5 records
Traffic_Stops.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305

In [84]:
# To display bottom 5 records
Traffic_Stops.tail()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,NaN,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,NaN,Ticket,True,16-30 Min,False,UP89PT2924

In [85]:
Traffic_Stops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  object
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         43818 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
dtypes: bool(3), int64(2), object(11)
memory usage: 6.7+ MB

In [86]:
Traffic_Stops.dtypes

stop_date             object
stop_time             object
country_name          object
driver_gender         object
driver_age_raw         int64
driver_age             int64
driver_race           object
violation_raw         object
violation             object
search_conducted        bool
search_type           object
stop_outcome          object
is_arrested             bool
stop_duration         object
drugs_related_stop      bool
vehicle_number        object
dtype: object

#### Dimension of the dataset

In [87]:
Traffic_Stops.shape

(65538, 16)

#### Descriptive Statistics of the Dataset

In [88]:
#Numerical analysis

Traffic_Stops.describe()

       driver_age_raw   driver_age
count    65538.000000  65538.00000
mean        49.055998     49.11221
std         18.174699     18.15012
min         18.000000     18.00000
25%         33.000000     34.00000
50%         49.000000     49.00000
75%         65.000000     65.00000
max         80.000000     80.00000

In [89]:
#object

Traffic_Stops['country_name'].describe()

count     65538
unique        3
top       India
freq      21998
Name: country_name, dtype: object

#### Accessing column wise

In [90]:
Traffic_Stops['country_name']

0        Canada
1         India
2           USA
3        Canada
4        Canada
          ...
65533     India
65534    Canada
65535       USA
65536    Canada
65537       USA
Name: country_name, Length: 65538, dtype: object

In [91]:
type(Traffic_Stops['country_name'])

pandas.core.series.Series

In [92]:
Traffic_Stops[['driver_gender','driver_age']]

      driver_gender  driver_age
0                 M          19
1                 M          58
2                 M          76
3                 M          76
4                 M          75
...             ...         ...
65533             F          48
65534             F          35
65535             M          41
65536             F          63
65537             F          32

[65538 rows x 2 columns]

#### Accsessing row wise
* Index based - iloc
* Label based - loc

In [93]:
#Index based
Traffic_Stops.iloc[65000,:]

stop_date             2020-02-15
stop_time                3:20:00
country_name                 USA
driver_gender                  M
driver_age_raw                47
driver_age                    52
driver_race                Other
violation_raw              Other
violation                  Other
search_conducted            True
search_type                  NaN
stop_outcome             Warning
is_arrested                 True
stop_duration           0-15 Min
drugs_related_stop         False
vehicle_number        DL62QU5184
Name: 65000, dtype: object

In [94]:
Traffic_Stops.iloc[:,2]

0        Canada
1         India
2           USA
3        Canada
4        Canada
          ...
65533     India
65534    Canada
65535       USA
65536    Canada
65537       USA
Name: country_name, Length: 65538, dtype: object

In [95]:
#Display specified row and column

Traffic_Stops.iloc[[345,234,567,2345,3455],[0,1,11,12]]

       stop_date stop_time stop_outcome  is_arrested
345   2020-01-01   5:45:00       Ticket        False
234   2020-01-01   3:54:00      Warning        False
567   2020-01-01   9:27:00       Arrest         True
2345  2020-01-02  15:05:00      Warning         True
3455  2020-01-03   9:35:00       Arrest         True

In [96]:
#Display sequence of row and column
Traffic_Stops.iloc[3456:4442, :]

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
3456,2020-01-03,9:36:00,India,F,52,62,Black,Seatbelt,DUI,True,Vehicle Search,Arrest,True,0-15 Min,False,TN13TV3266
3457,2020-01-03,9:37:00,Canada,F,41,35,Other,Signal Violation,DUI,False,Frisk,Warning,False,0-15 Min,False,TN72MV4003
3458,2020-01-03,9:38:00,India,F,41,45,Hispanic,Seatbelt,Other,True,NaN,Warning,False,16-30 Min,True,RJ64DB7523
3459,2020-01-03,9:39:00,Canada,M,74,19,Asian,Seatbelt,Other,True,NaN,Arrest,True,30+ Min,True,GJ83JF1610
3460,2020-01-03,9:40:00,USA,F,67,21,Asian,Seatbelt,Speeding,False,NaN,Arrest,True,30+ Min,False,UP62YO3732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4437,2020-01-04,1:57:00,USA,M,39,70,Black,Signal Violation,Speeding,False,NaN,Ticket,False,16-30 Min,True,UP27RF8873
4438,2020-01-04,1:58:00,India,M,19,36,Black,Speeding,Speeding,False,Vehicle Search,Warning,False,30+ Min,False,MH71UM4746
4439,2020-01-04,1:59:00,India,F,30,29,Other,Seatbelt,Seatbelt,True,NaN,Warning,True,30+ Min,True,UP53KP8374
4440,2020-01-04,2:00:00,USA,F,63,19,Other,Signal Violation,Seatbelt,False,NaN,Arrest,True,30+ Min,True,WB72LV6330
4441,2020-01-04,2:01:00,USA,F,69,39,Black,Speeding,Signal,True,Vehicle Search,Arrest,True,30+ Min,False,RJ33IW9081

In [97]:
Traffic_Stops.iloc[3456:4442:5, :]

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
3456,2020-01-03,9:36:00,India,F,52,62,Black,Seatbelt,DUI,True,Vehicle Search,Arrest,True,0-15 Min,False,TN13TV3266
3461,2020-01-03,9:41:00,USA,F,36,49,Black,Speeding,DUI,True,Frisk,Arrest,False,0-15 Min,True,RJ45CQ3427
3466,2020-01-03,9:46:00,India,F,75,77,White,Seatbelt,Other,False,Frisk,Ticket,False,16-30 Min,False,DL62YK9483
3471,2020-01-03,9:51:00,Canada,F,34,22,Asian,Drunk Driving,Speeding,True,NaN,Warning,True,30+ Min,True,DL35QG8275
3476,2020-01-03,9:56:00,Canada,M,47,52,Black,Signal Violation,DUI,False,NaN,Warning,True,0-15 Min,False,DL68LD2912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,2020-01-04,1:41:00,India,M,63,41,Other,Speeding,Speeding,True,NaN,Ticket,True,30+ Min,True,DL53UT8056
4426,2020-01-04,1:46:00,India,M,42,71,Hispanic,Seatbelt,Seatbelt,False,NaN,Warning,True,0-15 Min,False,DL33ED4941
4431,2020-01-04,1:51:00,USA,F,65,22,Hispanic,Speeding,Other,True,NaN,Arrest,False,16-30 Min,False,MH91YH8862
4436,2020-01-04,1:56:00,Canada,M,74,64,Asian,Speeding,Speeding,False,Frisk,Warning,True,30+ Min,True,GJ54VY9285
4441,2020-01-04,2:01:00,USA,F,69,39,Black,Speeding,Signal,True,Vehicle Search,Arrest,True,30+ Min,False,RJ33IW9081

In [98]:
#Label based
Traffic_Stops.loc[3456, :]

stop_date                 2020-01-03
stop_time                    9:36:00
country_name                   India
driver_gender                      F
driver_age_raw                    52
driver_age                        62
driver_race                    Black
violation_raw               Seatbelt
violation                        DUI
search_conducted                True
search_type           Vehicle Search
stop_outcome                  Arrest
is_arrested                     True
stop_duration               0-15 Min
drugs_related_stop             False
vehicle_number            TN13TV3266
Name: 3456, dtype: object

In [99]:
Traffic_Stops.loc[3456, 'violation_raw']

'Seatbelt'

In [100]:
#condition
Traffic_Stops.loc[Traffic_Stops['driver_age']>75, :]

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
10,2020-01-01,0:10:00,India,F,66,76,Black,Speeding,Signal,False,NaN,Ticket,False,30+ Min,True,UP67CQ9426
24,2020-01-01,0:24:00,India,M,33,76,Hispanic,Signal Violation,Speeding,False,NaN,Warning,False,16-30 Min,False,MH83XS7688
38,2020-01-01,0:38:00,Canada,F,29,76,Hispanic,Speeding,Signal,True,Vehicle Search,Arrest,False,0-15 Min,False,RJ86OH2697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65512,2020-02-15,11:52:00,Canada,F,22,76,Other,Signal Violation,Signal,True,Vehicle Search,Arrest,True,16-30 Min,True,MH40QS1450
65513,2020-02-15,11:53:00,India,F,19,79,Black,Speeding,DUI,True,NaN,Ticket,False,30+ Min,True,UP83UH8771
65521,2020-02-15,12:01:00,India,M,24,78,Asian,Seatbelt,Seatbelt,False,Vehicle Search,Ticket,False,30+ Min,True,MH42PF3736
65522,2020-02-15,12:02:00,USA,M,71,80,Hispanic,Drunk Driving,Seatbelt,True,Vehicle Search,Arrest,True,30+ Min,False,RJ87IU6720
65529,2020-02-15,12:09:00,India,F,63,78,Black,Seatbelt,Seatbelt,True,NaN,Warning,False,0-15 Min,False,DL13IZ8119

In [101]:
Traffic_Stops.loc[(Traffic_Stops['driver_age']>75) | (Traffic_Stops['driver_gender']=='F') , :]

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
5,2020-01-01,0:05:00,Canada,F,44,73,Other,Drunk Driving,Other,True,Vehicle Search,Ticket,False,16-30 Min,False,MH89ZF7676
6,2020-01-01,0:06:00,USA,F,80,70,White,Signal Violation,Speeding,False,Vehicle Search,Ticket,False,30+ Min,False,KA40AD3153
8,2020-01-01,0:08:00,USA,F,80,30,Hispanic,Other,Seatbelt,True,Frisk,Arrest,False,0-15 Min,True,DL50PO5101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65529,2020-02-15,12:09:00,India,F,63,78,Black,Seatbelt,Seatbelt,True,NaN,Warning,False,0-15 Min,False,DL13IZ8119
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,NaN,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,NaN,Ticket,True,16-30 Min,False,UP89PT2924

### Data Cleaning

#### Check for missing values

In [102]:
Traffic_Stops.isnull().sum()

stop_date                 0
stop_time                 0
country_name              0
driver_gender             0
driver_age_raw            0
driver_age                0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           21720
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
vehicle_number            0
dtype: int64

In [103]:
### Filling the missing records
Traffic_Stops.search_type = Traffic_Stops.search_type.fillna("Not Searched")

In [104]:
Traffic_Stops.isnull().sum()

stop_date             0
stop_time             0
country_name          0
driver_gender         0
driver_age_raw        0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
vehicle_number        0
dtype: int64

In [105]:
Traffic_Stops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  object
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         65538 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
dtypes: bool(3), int64(2), object(11)
memory usage: 6.7+ MB

In [106]:
from datetime import datetime
now_time=datetime.now().time()
print(now_time)

11:30:29.405886

#### Convert the datatype(object) to datetime

In [107]:
Traffic_Stops['stop_time'] = pd.to_datetime(Traffic_Stops['stop_time'], format='%H:%M:%S', errors='coerce')

In [108]:
Traffic_Stops['stop_date'] = pd.to_datetime(Traffic_Stops['stop_date'], format='%Y-%m-%d', errors='coerce')

### Connecting MySQL server

In [109]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\dell\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [110]:
import pymysql

In [111]:
myconnection = pymysql.connect(host = '127.0.0.1',user='root',password='Mirthi@26')

In [112]:
cur = myconnection.cursor()

cur.execute("use Traffic_Stops")

In [114]:
cur.execute("create database Traffic_Stops")

1

In [115]:
cur.execute("""create table Traffic_Stops.digital_ledger(
stop_date date,
stop_time time,
country_name varchar(50),
driver_gender char(1),
driver_age_raw int,
driver_age int,
driver_race varchar(50),
violation_raw varchar(50),
violation varchar(50),
search_conducted boolean,
search_type varchar(50),
stop_outcome varchar(50),
is_arrested boolean,
stop_duration varchar(20),
drugs_related_stop boolean,
vehicle_number varchar(15))""")

0

In [116]:
myconnection.commit()

### Inserting from dataframe to sql using tolist()

In [117]:
data_to_list=Traffic_Stops.values.tolist()
query="""insert into Traffic_Stops.digital_ledger(stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number)
values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""
cur.execute("set global max_allowed_packet=67108864")   #this line mentions max allowed data pockets as the data set is large
cur.executemany(query,data_to_list)

myconnection.commit()

### Vehicle-Based

#### Top 10 vehicle_Number involved in drug-related stops

In [118]:
cur.execute("""select vehicle_number,count(*) as count from Traffic_Stops.digital_ledger
where drugs_related_stop=TRUE
group by vehicle_number
order by count desc
limit 10""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

vehicle_number      count
----------------  -------
UP76DY3473              1
RJ83PZ4441              1
RJ32OM7264              1
RJ76TI3807              1
DL75KZ7835              1
DL50PO5101              1
UP67CQ9426              1
KA61JB1004              1
WB70IV9884              1
WB75TF1052              1

#### Vehicles were most frequently searched

In [119]:
cur.execute("""select vehicle_number,count(*) as most_frequent_search_count
from Traffic_Stops.digital_ledger
where search_conducted =TRUE
group by vehicle_number
order by most_frequent_search_count desc
limit 15""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

vehicle_number      most_frequent_search_count
----------------  ----------------------------
UP76DY3473                                   1
RJ76TI3807                                   1
MH89ZF7676                                   1
DL50PO5101                                   1
KA79RD2271                                   1
WB75TF1052                                   1
UP82DB7554                                   1
MH15GS2782                                   1
MH80WR1351                                   1
WB35BJ2947                                   1
GJ24GN5905                                   1
MH17TG9873                                   1
RJ65DM5842                                   1
RJ71DT4429                                   1
WB45XD7874                                   1

### Demographic-Based

#### Driver age group had the highest arrest rate

In [120]:
cur.execute("""select case
    when driver_age between 18 and 25 then '18-25'
    when driver_age between 26 and 35 then '26-35'
    when driver_age between 36 and 45 then '36-45'
    when driver_age between 46 and 60 then '46-60'
    else '60+' 
end as age_group,

count(*) as total_stops,
count(case when is_arrested =TRUE then 1 end) as arrests,
round(count(case when is_arrested =TRUE then 1 end)/count(*)*100.0,2) as arrest_rate

from Traffic_Stops.digital_ledger
group by age_group
order by arrest_rate desc limit 1""")


a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

age_group      total_stops    arrests    arrest_rate
-----------  -------------  ---------  -------------
18-25                 8137       4171          51.26

#### Gender distribution of drivers stopped in each country

In [121]:
cur.execute("""select country_name,count(case when driver_gender='M' then 1 end) as MALE,count(case when driver_gender='F' then 1 end) as FEMALE from Traffic_Stops.digital_ledger
group by country_name """)

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

country_name      MALE    FEMALE
--------------  ------  --------
Canada           10911     10997
India            10955     11043
USA              10791     10841

#### Race and gender combination has the highest search rate

In [122]:
cur.execute("""select
driver_race,
driver_gender,
round(count(case when search_conducted =TRUE then 1 end)/count(*)*100.0, 2) as search_rate
from Traffic_Stops.digital_ledger
group by driver_race, driver_gender
order by search_rate DESC
limit 1          
""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

driver_race    driver_gender      search_rate
-------------  ---------------  -------------
Asian          F                        51.29

### Time & Duration Based

#### Time of day sees the most traffic stops

In [123]:
cur.execute("""select hour(str_to_date(stop_time,'%H:%i')) as hour_of_the_day,count(*) as stop_count
from Traffic_Stops.digital_ledger
group by hour_of_the_day
order by stop_count DESC
limit 1
""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

  hour_of_the_day    stop_count
-----------------  ------------
                0          2760

#### Average stop duration for different violations

In [124]:
cur.execute("""select violation,
avg(case
        when stop_duration = '0-15 Min' then 7.5
        when stop_duration = '16-30 Min' then 23
        when stop_duration = '30+ Min' then 35
        END) as average_stop_duration
from Traffic_Stops.digital_ledger
group by violation""")


a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

violation      average_stop_duration
-----------  -----------------------
Speeding                     21.7945
Other                        22.2033
DUI                          21.7413
Seatbelt                     21.8332
Signal                       21.7121

#### Are the stops during the night more likely to lead to arrests

In [125]:
cur.execute("""select
   case
        when hour(str_to_date(stop_time,'%H:%i'))>=18 or hour(str_to_date(stop_time,'%H:%i'))<6 
        then 'NIGHT'
        else 'DAY'
    end as stop_period,
    count(*) as total_stops,
    count(case when is_arrested=TRUE then 1 end) as arrests,
    round(count(case when is_arrested=TRUE then 1 end)/count(*)*100.0,2) as arrest_rate_percent
from Traffic_Stops.digital_ledger
group by stop_period
""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

stop_period      total_stops    arrests    arrest_rate_percent
-------------  -------------  ---------  ---------------------
NIGHT                  32760      16289                  49.72
DAY                    32778      16557                  50.51

### Violation-Based

#### Violations are most associated with searches or arrests

In [126]:
cur.execute("""select violation,
  count(case when search_conducted=TRUE then 1 end) as count_of_the_search,
  count(case when is_arrested=TRUE then 1 end) as count_of_the_arrest,
  round(count(case when search_conducted=TRUE then 1 end)/count(*)*100.0,2) as search_rate,
  round(count(case when is_arrested=TRUE then 1 end)/count(*)*100.0,2) as arrest_rate,
  greatest(round(count(case when search_conducted=TRUE then 1 end)/count(*)*100.0,2),round(count(case when is_arrested=TRUE then 1 end)/count(*)*100.0,2)) as maximum_arrest_or_search_rate
from Traffic_Stops.digital_ledger
group by violation
order by maximum_arrest_or_search_rate desc limit 1
""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

violation      count_of_the_search    count_of_the_arrest    search_rate    arrest_rate    maximum_arrest_or_search_rate
-----------  ---------------------  ---------------------  -------------  -------------  -------------------------------
DUI                           6481                   6610          49.57          50.55                            50.55

#### Violations are most common among younger drivers (<25)

In [127]:
cur.execute("""select violation,count(*) as counts_of_driver from Traffic_Stops.digital_ledger
where driver_age<25
group by violation
order by counts_of_driver desc limit 1              
""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

violation      counts_of_driver
-----------  ------------------
Speeding                   1476

#### Violation that rarely results in search or arrest

In [128]:
cur.execute("""select violation,
  count(case when search_conducted=TRUE then 1 end) as count_of_the_search,
  count(case when is_arrested=TRUE then 1 end) as count_of_the_arrest,
  round(count(case when search_conducted=TRUE then 1 end)/count(*)*100.0,2) as search_rate,
  round(count(case when is_arrested=TRUE then 1 end)/count(*)*100.0,2) as arrest_rate,
  least(round(count(case when search_conducted=TRUE then 1 end)/count(*)*100.0,2),round(count(case when is_arrested=TRUE then 1 end)/count(*)*100.0,2)) as rarely_arrest_or_search_rate
from Traffic_Stops.digital_ledger
group by violation
order by rarely_arrest_or_search_rate asc limit 1
""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

violation      count_of_the_search    count_of_the_arrest    search_rate    arrest_rate    rarely_arrest_or_search_rate
-----------  ---------------------  ---------------------  -------------  -------------  ------------------------------
Other                         6576                   6516          49.84          49.39                           49.39

### Location-Based

#### Countries report the highest rate of drug-related stops

In [129]:
cur.execute("""select country_name,
count(*) as tot_counts,
round(count(case when drugs_related_stop=TRUE then 1 end)/count(*)*100.0,2) as drugs_related_stop_rates
from Traffic_Stops.digital_ledger
group by country_name 
order by drugs_related_stop_rates desc limit 1                                
""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

country_name      tot_counts    drugs_related_stop_rates
--------------  ------------  --------------------------
USA                    21632                       50.37

#### Arrest rate by country and violation

In [130]:
cur.execute("""select country_name,violation,
count(*) as tot_count,
round(count(case when is_arrested=TRUE then 1 end)/count(*)*100.0,2) as arrest_rate
from Traffic_Stops.digital_ledger
group by country_name,violation""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

country_name    violation      tot_count    arrest_rate
--------------  -----------  -----------  -------------
Canada          Speeding            4375          49.94
India           Other               4431          49.29
USA             Speeding            4417          49.83
Canada          DUI                 4414          51.13
Canada          Other               4371          50.29
USA             Seatbelt            4241          50.58
USA             Signal              4341          49.99
India           Signal              4444          50.65
Canada          Signal              4327          49.18
USA             DUI                 4241          49.66
India           DUI                 4420          50.84
India           Speeding            4358          50.76
USA             Other               4392          48.59
India           Seatbelt            4345          50.56
Canada          Seatbelt            4421          50.46

#### Country has the most stops with search conducted

In [131]:
cur.execute("""select country_name,count(case when search_conducted=TRUE then 1 end) as no_of_counts from Traffic_Stops.digital_ledger
group by country_name
order by no_of_counts desc limit 1""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

country_name      no_of_counts
--------------  --------------
Canada                   11020

#### Yearly Breakdown of Stops and Arrests by Country (Using Subquery and Window Functions)

In [132]:
cur.execute("""
select
    stats.stop_year,
    stats.country_name,
    stats.total_stops,
    stats.total_arrests,
    round(total_arrests/NULLIF(total_stops*100.0,0), 2)as arrest_rate_percent,
    sum(total_arrests) over(partition by country_name 
    order by stop_year
    ) as cumulative_arrests
from(
    select 
        year(str_to_date(stop_date,'%Y-%m-%d'))as stop_year,
        country_name,
        count(*) as total_stops,
        count(if(is_arrested,1,NULL))as total_arrests
    from Traffic_Stops.digital_ledger
    group by stop_year,country_name
)as stats
order by stats.country_name,stats.stop_year
""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

  stop_year  country_name      total_stops    total_arrests    arrest_rate_percent    cumulative_arrests
-----------  --------------  -------------  ---------------  ---------------------  --------------------
       2020  Canada                  21908            10999                   0.01                 10999
       2020  India                   21998            11091                   0.01                 11091
       2020  USA                     21632            10756                   0                    10756

#### Driver Violation Trends Based on Age and Race (Join with Subquery)

In [133]:
cur.execute("""select 
    age_info.age_group,
    r.driver_race,
    count(*) as total_violations
from Traffic_Stops.digital_ledger r
join(
    select distinct
        driver_age,
        case
            when driver_age between 16 and 25 then '16-25'
            when driver_age between 26 and 35 then '26-35'
            when driver_age between 36 and 50 then '36-50'
            when driver_age>50 then '51+'
            else 'Unknown'
        end as age_group from Traffic_Stops.digital_ledger)as age_info on r.driver_age=age_info.driver_age
group by age_info.age_group, r.driver_race
order by age_info.age_group, r.driver_race;
""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

age_group    driver_race      total_violations
-----------  -------------  ------------------
16-25        Asian                        1587
16-25        Black                        1670
16-25        Hispanic                     1605
16-25        Other                        1648
16-25        White                        1627
26-35        Asian                        2127
26-35        Black                        2073
26-35        Hispanic                     2084
26-35        Other                        2058
26-35        White                        2032
36-50        Asian                        3140
36-50        Black                        3100
36-50        Hispanic                     3131
36-50        Other                        3164
36-50        White                        3155
51+          Asian                        6257
51+          Black                        6288
51+          Hispanic                     6186
51+          Other                        6252
51+          White                        6354

#### Time Period Analysis of Stops (Joining with Date Functions) , Number of Stops by Year,Month, Hour of the Day

In [134]:
cur.execute("""select
year(str_to_date(stop_date,'%Y-%m-%d')) as STOP_YEAR,
month(str_to_date(stop_date,'%Y-%m-%d')) as STOP_MONTH,
hour(str_to_date(stop_time,'%H:%i')) as STOP_HOUR,
count(*) as total_stops
from Traffic_Stops.digital_ledger
group by STOP_YEAR,STOP_MONTH,STOP_HOUR
order by STOP_YEAR,STOP_MONTH,STOP_HOUR
""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

  STOP_YEAR    STOP_MONTH    STOP_HOUR    total_stops
-----------  ------------  -----------  -------------
       2020             1            0           1860
       2020             1            1           1860
       2020             1            2           1860
       2020             1            3           1860
       2020             1            4           1860
       2020             1            5           1860
       2020             1            6           1860
       2020             1            7           1860
       2020             1            8           1860
       2020             1            9           1860
       2020             1           10           1860
       2020             1           11           1860
       2020             1           12           1860
       2020             1           13           1860
       2020             1           14           1860
       2020             1           15           1860
       2020             1           16           1860
       2020             1           17           1860
       2020             1           18           1860
       2020             1           19           1860
       2020             1           20           1860
       2020             1           21           1860
       2020             1           22           1860
       2020             1           23           1860
       2020             2            0            900
       2020             2            1            900
       2020             2            2            900
       2020             2            3            900
       2020             2            4            900
       2020             2            5            900
       2020             2            6            900
       2020             2            7            900
       2020             2            8            900
       2020             2            9            900
       2020             2           10            900
       2020             2           11            900
       2020             2           12            858
       2020             2           13            840
       2020             2           14            840
       2020             2           15            840
       2020             2           16            840
       2020             2           17            840
       2020             2           18            840
       2020             2           19            840
       2020             2           20            840
       2020             2           21            840
       2020             2           22            840
       2020             2           23            840

#### Violations with High Search and Arrest Rates (Window Function)

In [135]:
cur.execute("""select * from(select distinct violation,
count(*) over(partition by violation) as total_stops,
sum(case when search_conducted=TRUE then 1 else 0 end) over(partition by violation) as total_searches,
sum(case when is_arrested=TRUE then 1 else 0 end) over(partition by violation) as total_arrests,
round(avg(case when search_conducted=TRUE then 1 else 0 end) over(partition by violation)*100,2) as search_rate_percent,
round(avg(case when is_arrested=TRUE then 1 else 0 end) over(partition by violation)*100,2) as arrest_rate_percent
from Traffic_Stops.digital_ledger
)as sub
where search_rate_percent>20 or arrest_rate_percent>20
order by search_rate_percent desc,arrest_rate_percent desc
""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

violation      total_stops    total_searches    total_arrests    search_rate_percent    arrest_rate_percent
-----------  -------------  ----------------  ---------------  ---------------------  ---------------------
Seatbelt             13007              6562             6573                  50.45                  50.53
Speeding             13150              6573             6598                  49.98                  50.17
Other                13194              6576             6516                  49.84                  49.39
Signal               13112              6509             6549                  49.64                  49.95
DUI                  13075              6481             6610                  49.57                  50.55

#### Driver Demographics by Country (Age, Gender, and Race)

In [136]:
cur.execute("""select country_name,count(*) as tot_driver,
count(case when driver_gender='M' then 1 end) as Male_driver,
count(case when driver_gender='F' then 1 end) as Female_driver,
count(case when driver_race='Asian' then 1 end) as Asian_driver,
count(case when driver_race='Black' then 1 end) as Black_driver,
count(case when driver_race='Hispanic' then 1 end) as Hispanic_driver,
count(case when driver_race='Other' then 1 end) as Other_people,
count(case when driver_race ='White' then 1 end) as White_driver,
count(case when driver_age<30 then 1 end) as less_than_thirty,
count(case when driver_age between 30 and 50 then 1 end) as between_thirty_and_fifty,
count(case when driver_age>50 then 1 end) as greater_than_fifty                                  
from Traffic_Stops.digital_ledger
group by country_name""")

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

country_name      tot_driver    Male_driver    Female_driver    Asian_driver    Black_driver    Hispanic_driver    Other_people    White_driver    less_than_thirty    between_thirty_and_fifty    greater_than_fifty
--------------  ------------  -------------  ---------------  --------------  --------------  -----------------  --------------  --------------  ------------------  --------------------------  --------------------
Canada                 21908          10911            10997            4344            4342               4395            4398            4429                4177                        7254                 10477
India                  21998          10955            11043            4451            4418               4406            4377            4346                4124                        7355                 10519
USA                    21632          10791            10841            4316            4371               4205            4347            4393                4049                        7242                 10341

#### Top 5 Violations with Highest Arrest Rates

In [137]:
cur.execute("""select violation,count(*) as total,
round(count(case when is_arrested=TRUE then 1 end)/count(*)*100,2) as arrest_rate 
from Traffic_Stops.digital_ledger
group by violation
order by arrest_rate desc limit 5                
""") 

a=cur.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in cur.description],tablefmt='mysql'))

violation      total    arrest_rate
-----------  -------  -------------
DUI            13075          50.55
Seatbelt       13007          50.53
Speeding       13150          50.17
Signal         13112          49.95
Other          13194          49.39